body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 1rem;
}

.icon {
  width: 67px;
  height: 82px;
}

.icon-clouds {
  width: 67px;
  height: 82px;
  background: url('img/icons.png') -68px -363px;
}

.icon-rain {
  width: 67px;
  height: 82px;
  background: url('img/icons.png') -285px -363px;
}

.icon-sun {
  width: 67px;
  height: 82px;
  background: url('img/icons.png') -69px 0;
}
